@charset "utf-8";

@font-face {
	font-family:'FiraRegular';
	src: url('fuentes/FiraSans-Regular.eot') format('eot'),
	     url('fuentes/FiraSans-Regular.woff') format('woff'),
	     url('fuentes/FiraSans-Regular.ttf')  format('truetype');
}

@font-face {
	font-family:'Roboto';
	src: url('fuentes/Roboto-Regular.ttf')  format('truetype');
}

.parrafo1{
   font-family: "FiraRegular", sans-serif;
}

.parrafo2{
   font-family: 'Roboto', sans-serif;
}

