@charset "utf-8";

#caja{
	background-color:#2D3639;
	font-family: 'Times New Roman', serif;
	
}

.etiquetaHTML{
  font-size: 1em;
  color: #00D0D0;
  margin: 0;
  padding: 0;
  display: inline;
}

.cadenaCSS{
  font-size: 1em;
  color: #Dc78DC;
  margin:0;
  padding: 0;
  display: inline;
}

.selectorCSS{
  font-size: 1em;
  color: #79ABFF;
  margin:0;
  padding: 0;
  display: inline;
}

.propiedadCSS{
  font-size: 1em;
  color: #FF8080;
  margin:0;
  padding: 0;
  display: inline;
}

.valorCSS{
  font-size: 1em;
  color: #E5E53F;
  margin:0;
  padding: 0;
  display: inline;
}

.comentario{
  font-size: 1em;
  color: #D9E577;
  margin:0;
  padding: 0;
  display: inline;
}